<div class="row">
  <div class="col-md-12">
      <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search by name, email, mobile number..." [(ngModel)]="searchText">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> USERS</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                No
              </th>
                <th>
                 IMAGE
                </th>
              <th>
                FULL NAME
              </th>
              <th>
                EMAIL
              </th>
              <th>
               MOBILE NUMBER
              </th>
              <th>
                WALLET BALANCE
              </th>
              <th>
             VERIFICATION STATUS
              </th>
            
            </thead>
            <tbody *ngFor="let item of user_list | filter:searchText; let i = index">
              <tr>
                <td>
                  {{i + 1}}
                </td>
                  <td>
                    <img class="avatar border-gray" src="{{item?.photo_url}}" alt="" (click)="details(item)">
                   
                  </td>
                <td (click)="details(item)">
                 {{item.full_name}}
                </td>
                <td (click)="details(item)">
                {{item.email}}
                </td>
                <td>
                  {{item.mobile_number}}
                </td>
                  <td>
                    <span style="font-weight: 900">£{{item.wallet_balance}}</span>
                  </td>
                

                <td *ngIf="item.is_active == false">
               
                  <p style="color:brown;font-weight: 900;">Not Verified</p>
                </td> 
                
                <td *ngIf="item.is_active == true">
                <p style="color:rgb(36, 165, 11);font-weight: 900;">Verified</p>  
                </td>
                <td>
                  <div class="update ml-auto mr-auto">
                    <button class="btn btn-warning btn-round" (click)="details(item)">View More</button>
                  </div>
                </td>
                <td *ngIf="item.is_active == false">
                    <div class="update ml-auto mr-auto">
                      <button class="btn btn-primary btn-round" (click)="verify(item)">Verify User</button>
                    </div>
                </td>

                <td *ngIf="item.is_active == true">
                  <div class="update ml-auto mr-auto">
                    <button class="btn btn-danger btn-round" (click)="disable(item)">Disable User</button>
                  </div>
                </td>

                <td>
                  <div class="update ml-auto mr-auto">
                    <button class="btn btn-secondary btn-round" (click)="topup(item.id)">Virtual TopUp</button>
                  </div>
                </td>

                  <td>
                    <div class="update ml-auto mr-auto">
                      <button class="btn btn-secondary btn-round" (click)="topup(item.id)">Record Revenue</button>
                    </div>
                  </td>
               
                
              
              </tr>
           
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    
</div>


<app-loader *ngIf="!loading"></app-loader>