
<div class="sidebar-wrapper">
  <div class="logo">
    <!-- <a href="/" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/show.png">
      </div>
    </a> -->
    <a href="/" class="simple-text logo-normal">
      <img src="assets/img/show.png">
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
      <!-- <div class="logo">
          <a href="/" class="simple-text logo-normal">
           DOCUMENTATION
          </a>
        <ul class="nav">
          <li  routerLinkActive="active" class="">
            <a [routerLink]="">
              <i class="nc-icon "></i>
              <p>Getting Started</p>
            </a>
          </li>
            <li  class="">
              <a [routerLink]="">
                <i class="nc-icon "></i>
                <p>Support</p>
              </a>
            </li>
        </ul>
      
      </div> -->
</div>
