<style>
    .tittle {
        text-align: left;
        font-size: 16px;
        margin-top: 5%;
    }

    .card-category1 {
        text-transform: capitalize;
        font-weight: 900;
        color: #BB0027;
        font-size: 20px;
        margin-bottom: 0rem;
    }

    .icon-big1 {
        font-size: 3em;
        min-height: 69px;
        margin-top: 18%;
    }

    .card-stats .card-body {
        padding: 0px !important;
    }
</style>
<style>
    .loader-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffffe8;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loader {
        display: inline-block;
        width: 100px;
        height: 100px;
        position: relative;
        /* border: 4px solid #Fff; */
        animation: loader 2s infinite ease;
    }

    .loader-inner {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #fff;
        animation: loader-inner 2s infinite ease-in;
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(90deg);
        }

        50% {
            transform: rotate(180deg);
        }

        75% {
            transform: rotate(270deg);
        }

        100% {
            transform: rotate(360deg);
        }


    }

    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        /* background-color: #666;
        padding: 40px; */
        font-size: 25px;
    }
</style>

<!-- <div class="row" style="margin-left: 10%;">
    <img src="assets/img/Playlist.png">

</div> -->
<h2 style="font-weight: 900;text-align: center;">PLAYLIST</h2>
<!-- <audio controls>

    <source
        src="https://user-gen-content.s3.amazonaws.com/media/raw/wpp2G3WroVGuIGQs9W8e.mp3?AWSAccessKeyId=AKIAXU2R3TSSJQYXHVNI&Expires=1675717527&Signature=vNx%2BAUA15%2FruVfY8Z0jsmDndRRw%3D"
        type="audio/mpeg">

</audio> -->
<div *ngIf="allPlay == true">


    <div *ngFor="let item of user_list;">
        <!-- <h4 style="font-weight: 800;margin-left: 10%;">{{item.title}} </h4>
        <p style="margin-left: 10%;">{{item.description}}</p> -->
        <div class="row" style="padding-left: 15%;">
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <input type="checkbox" [(ngModel)]="isMasterSel" name="list_name" value="h1" (change)="checkUncheckAll()" />
                    <strong>Select All / Unselect All</strong>
                </li>
            </ul> -->

            <div class="col-lg-9 col-md-9 col-sm-9" *ngFor="let details of item.track_list;">
                <div class="card card-stats">


                    <div class="card-body ">
                        <div class="row">

                            <div class="col-1 col-md-1">

                                <input type="checkbox"  [(ngModel)]= "isMasterSel[details.id]" name="list_name"
                                    value="{{details.id}}" class="moveUp" (change)="isAllSelected(details.id)" />


                            </div>


                            <div class="col-3 col-md-3" style="background-image: url({{details.owner.photo_url}});    background-size: contain;
    background-repeat: no-repeat;">

                                <!-- <input type="checkbox" [(ngModel)]="isMasterSel[details.id]" name="list_name"
                                    value="{{details.id}}" class="moveUp" (change)="isAllSelected()" /> -->


                            </div>


                            <div class="col-6 col-md-6">
                                <div class="tittle">
                                    <p class="card-category1" style="text-align: center;">{{details.genre}} </p>
                                    <p class="card-title" style="text-align: center;">{{details.stage_name}}
                                    <p>
                                </div>
                            </div>
                            <!-- <div class="col-1 col-md-1" style="background-color: #F7931E;">
                                <div class="icon-big1 text-center icon-warning" [(ngModel)]="favv"
                                    (click)="favor(details.id)">
                                    <i class="nc-icon nc-favourite-28 text-primary"></i>
                                </div>

                            </div> -->
                            <div class="col-1 col-md-1" style="background-color: #BB0027;">
                                <div class="icon-big1 text-center icon-warning" (click)="playAud(details.id)"
                                    [(ngModel)]="audiofile">
                                    <i class="nc-icon nc-button-play text-warning"></i>
                                </div>

                            </div>
                            <div class="col-1 col-md-1" style="background-color: #D9D9D9;">
                                <div class="icon-big1 text-center icon-warning">
                                    <i class="nc-icon nc-simple-remove text-warning"></i>
                                </div>
                            </div>

                            <div id="footer">
                                <!-- <audio controls #myAudio *ngIf="audiofile" style="display: flex;
    justify-content: center;
    text-align: center;
    margin: 19px 0 0 20%;
    width: 70%;">

                                    <source src="{{details.media_url}}" type="audio/mpeg">

                                </audio> -->
                                <div class="col-lg-12 col-md-12 col-sm-12 sticky"
                                 >
                                    <div class="card card-stats">
                                     
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-12 col-md-12" style="text-align: center;">
                                                    <button class="btn btn-warning btn-round">Add to
                                                        Competition</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <audio controls #myAudio style="margin-left: 20%;
                                    margin-top: 4%;
                                    margin-bottom: 3%;">

                                <source src="{{details.media_url}}" type="audio/mpeg">

                            </audio> -->



                        </div>




                    </div>

                </div>
            </div>



        </div>


        <!-- <div class="row">
            <div class="update ml-auto mr-auto">
                <button class="btn btn-danger btn-round" (click)="deleteTrack(item.id)">Delete {{item.title}} Playlist</button>
            </div>
        </div> -->
    </div>


    <div class="row">
        <div class="update ml-auto mr-auto">
            <button class="btn btn-primary btn-round" (click)="showPlay()">Create New Playlist</button>
        </div>
    </div>
</div>

<!-- <audio #myAudio>
    <source src="{{audiofile}}" type="audio/mpeg">
  
</audio> -->



<div class="row" *ngIf="allPlay == false">
    <div class="col-md-6">

        <div class="card card-user">
            <div class="icon-big text-center icon-warning" style="margin-left: 90%;
    font-size: 25px;" (click)="showPlay()">
                <i class="nc-icon nc-simple-remove text-primary"></i>
            </div>

            <div class="card-header">
                <h5 class="card-title">Create New Playlist</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" formControlName="title" class="form-control"
                                    placeholder="Playlist Title">

                            </div>

                        </div>



                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <!-- <input type="text" formControlName="description" class="form-control"
                                    placeholder="Description"> -->
                                <textarea type="text" formControlName="description" class="form-control"
                                    placeholder="Description"> </textarea>

                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">Create Playlist</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- <div class="icon-big1 text-center icon-warning" (click)="showPlay()">
                <i class="nc-stre-left"></i>
            </div> -->


        </div>
    </div>
</div>



<!-- <div class="loader-wrapper" *ngIf="!loading">
    <img src="assets/img/show.png" class="loader">
</div> -->

<app-loader *ngIf="!loading"></app-loader>